
       /* GLOBAL STYLES */
       body {   
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(248, 248, 248);
            color: #151b49;
        }
       
       /* HEADER AND FOOTER STYLE CLASSES */
       
       .site-header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 12px 50px;
            display: flex;
            align-items: center;
            background: linear-gradient(90deg, #3241af 0%, #151B49 100%);
            color: white;
            box-shadow: #929292 0px 4px 6px -1px, #7f7f7f 0px 2px 4px -1px;
        }

        .site-header h1 {
            margin: 0;
            font-size: 1.75rem;
            font-weight: 800;
            line-height: 0;
            /* letter-spacing: 0.1rem; */
        }

        nav.header-navi ul {
            list-style: none;
            display: flex;
            gap: 0.5rem;
            align-items: flex-end;
        }


        nav.header-navi a {
            color: #fff;
            text-decoration: none;
            font-weight: 500;
        }

        /* to add more and to the hover/focus effect */
        nav.header-navi a:focus,
        nav.header-navi a:hover {
            text-decoration: underline;
        } 

        .main {
            padding-top: calc(14px + 1.25rem + 120px);
            padding-left: 6%;
            align-items: center;
            display: flex;
        }

        .items {
        display: flex; 
        align-items: center; 
        margin-top: 50px; 
        margin-left: 75px;
           padding-top: calc(14px + 1.25rem + 120px);
           padding-left: 6%;
           align-items: center;
           display: flex;
            
        }

        .items{
            
             padding-top: calc(14px + 1.25rem + 6px);
           padding-left: 6%;
           align-items: center;
           display: flex;

        }


        .footer {
            width: 100%;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #262F6D;
            color: white;
            margin-top: 5%;
            /* position: fixed; */

        }



        /* BUTTON STYLE CLASSES */

        .button-style {
            border-radius: 30px;
            border: 2px solid #161C40;
            background: #374398;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
        }

        .button-style:hover {
            background: #202c8b;
            color: white;
            border: 2px solid #151B49;
        }

        .button-group{
            display: flex;
            flex-direction: column;
            gap: 12px; /* space between buttons */
            align-items: flex-start; /* left-align; use center to center them */
        }

        /*Information styles*/

        .big{
            padding: 30px;
            text-align: center;
            font-size: 200%;
            margin: 30px 0;
            
          
        }

        .pic{
            
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
           
   
   
        }
      
        
        .pic img {
            width: 150px; 
            height: 150px; 
            object-fit: cover; 
            border-radius: 8px; 
            margin: 10px 0; 
           
        }

        section{
            background-color: rgb(212, 213, 247);
            border-radius: 5px;
            padding: 20px;
            width: 45%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            position: relative;
            margin: 20px auto;
           
          
           
        }


        section img{
            width: 100%;
            max-width: 150px;
            height: auto;
            margin-bottom: 10px;
           
        }

        h2{
            color: #08030c;
            margin: 10px 0;
            font-family: 'Bahnschrift', Light;
            font-weight: 600;
            font-size: 35px;
            padding-bottom: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
           

        }

        ul {
            list-style-type: none; 
            padding: 0; 
                   
        }

        .resource-item {
            margin: 5px 0;      
            padding: 4px;       
            border: 1px solid #fcfafa; 
            border-radius: 5px;   
            background-color:#def08c98; 
            font-family: 'Bahnschrift', Arial, sans-serif, Times, serif;
            font-weight: 450;
            font-size: 22px;
            padding-bottom: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            width: 100%; 
            height: 200px;
            color: rgb(6, 84, 87); 
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
            display: flex; 
            align-items: center; 
            justify-content: center; 
           
    

        }



        .resource-item:hover {
            background-color: #9986937e;
          
        }

        .resource-link {
            text-decoration: none;  
            color: #0b325f;       
            font-weight: bolder; 
            margin: 10px 0;      
            padding: 7px;
            font-family: 'Bahnschrift','Arial Black', 'Arial Narrow' , 'Arial Narrow Bold', sans-serif;
           


        }

        .resource-link:hover {
            color: #68133b;       
        }

        @media (max-width: 768px) {
            .items{
                flex-direction: column;
                align-items: center;
            }
            section{
                width: 90%;
                margin-bottom: 20px;
            }
        }


/* FORUM STYLE CLASSES */ 


